<div class="content-heading">
    <div>Administracion de Personal
        <small>Lista de Personal existente</small></div>
</div>
<div class="card card-default">
    <div class="card-header">Lista de Personal</div>
    <!-- START table-responsive-->
    <div class="row">
        <div class="col-md-8">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-responsive" id="table-ext-1">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>NOMBRE</th>
                            <th>APELLIDO</th>
                            <th>DOCUMENTO</th>
                            <th>FECHA ALTA</th>
                            <th>MODIFICADO</th>
                            <th>
                                <button [routerLink]="['/person/person', '0']" type="button" class=" btn btn-outline-success btn-sm"><i class="fa fa-plus-square"></i></button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let personal of persons; let i = index ">
                            <td>{{ personal.id }}</td>
                            <td>{{ personal.fistname }}</td>
                            <td>{{ personal.lastname }}</td>
                            <td>{{ personal.createdAt | date : 'dd-MM-yyyy' }}</td>
                            <td>{{ personal.updatedAt | date : 'dd-MM-yyyy' }}</td>
                            <td>
                                <!-- <button [routerLink]="['/config/personal', personal.id]" type="button" class="fa fa-edit btn btn-outline-success btn-sm"> </button>
                              <a (click)="editRole(personal)" class="btn btn-sm btn-primary">
                                  <i class="fa fa-edit"></i>
                              </a>
                              <a (click)="deleteRole(personal)" class="btn btn-sm btn-danger">
                                  <i class="fa fa-trash"></i>
                              </a> -->
                                <a (click)="edit(personal)">
                                    <i class="btn btn-sm btn-success">Editar</i>
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>